<p id="notice"><%= notice %></p>

<p>
  <strong>Wine:</strong>
  <%= @assembly.wine_id %>
</p>

<p>
  <strong>Strain:</strong>
  <%= @assembly.strain_id %>
</p>

<%= link_to 'Edit', edit_assembly_path(@assembly) %> |
<%= link_to 'Back', assemblies_path %>
