<!DOCTYPE html>
<html>
  <head>
    <title>Vino</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <% if current_user %>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li> <%=link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class:"dropdown-item"%></li>
          </ul>

          <%else%>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li> <%=link_to 'Registrarme', new_user_registration_path, class:"dropdown-item"%></li>
            <li><hr class="dropdown-divider"></li>
            <li> <%=link_to 'Iniciar Sesión', new_user_session_path, class:"dropdown-item"%></li>
          </ul>
         <%end%>
    <%= yield %>
  </body>
</html>
